<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Part 1</h1>
    <p>{{title}}</p>
    <p>Uses Heroku, Node.js, PHP, Weebly Cloud API (Resller API), Express.js, HTML, and CSS</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Reseller ID: {{resellerID}} - <a href="mailto:{{resellerEmail}}">{{resellerEmail}}</a> - Lang: {{resellerLanguage}}</div>
            <div class="panel-body">
                Test Mode: <a href="/resellerToggle">{{resellerTestModeState}}</a>
                <br />
                <a href="{{resellerLoginLink}}">Login As User</a>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    <div>Name: {{siteName}} - Domain: {{siteDomain}} - ID: {{siteId}}</div>
                </li>
            </ul>
        </div>

      </div>
   </div>
    <div class="col-md-2">
    </div>
  </div>
